@font-face {
  font-family: "arvo"
  src:url("Arvo-Regular.ttf");
}

body {
  font-size: 100%;
}

div.logo{
  position: fixed;
  /* top: 50%; */
  left: 50%;
  margin-left: -200px;
}
div.text {
  color: #167D51;
  font-family: "arvo"; font-size: 36px; font-weight: 300; line-height: 58px; margin: 0 0 58px;
}

div.run {
  position: relative;
  left: 85px;
  bottom: 120px;
  transform: rotateY(180deg);
}
div.run img{
  max-width: 70px;
}
div.underline{
  position: relative;
  bottom: 140px;
  left: 20px;
}
div.underline img{
  width: 400px;
  height: 40px;

}
